<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-input" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input class="form-input" asp-for="Salary" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-input" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Organization"></label>
        <input class="form-input" asp-for="Organization" />
        <span asp-validation-for="Organization" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmploymentType"></label>
        <select class="form-input" asp-for="EmploymentType">
            <option value="FullTime" asp-for="EmploymentType.FullTime">Полный рабочий день</option>
            <option value="PartialTime" asp-for="EmploymentType.PartialTime">Частичная занятость</option>
            <option value="FixedScheldure" asp-for="EmploymentType.FixedSchelure">Постоянный график</option>
            <option value="FlexibleScheldure" asp-for="EmploymentType.FlexibleScheldure">Гибкий график</option>
            <option value="ShiftScheldure" asp-for="EmploymentType.ShiftScheldure">Сменный график</option>
            <option value="RemoteMethod" asp-for="EmploymentType.RemoteMethod">Удаленная работа</option>
            <option value="ShiftMethod" asp-for="EmploymentType.ShiftMethod">Вахтовый метод</option>
        </select>
        <span asp-validation-for="EmploymentType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <span asp-validation-for="ContactPerson" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactPerson.Name"></label>
        <input class="form-input" asp-for="ContactPerson.Name" />
        <span asp-validation-for="ContactPerson.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactPerson.Surname"></label>
        <input class="form-input" asp-for="ContactPerson.Surname" />
        <span asp-validation-for="ContactPerson.Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactPerson.MiddleName"></label>
        <input class="form-input" asp-for="ContactPerson.MiddleName" />
        <span asp-validation-for="ContactPerson.MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactPhone"></label>
        <input class="form-input" asp-for="ContactPhone" />
        <span asp-validation-for="ContactPhone" class="text-danger"></span>
    </div>
    <div class="form-gtoup">
        <button type="submit" value="Create" class="btn btn-primary">Создать</button>
    </div>
</form>