@model SearchResponse

@{
    ViewData["Title"] = "Результат поиска по вакансиям";
}

<h1>Результат поиска по вакансиям</h1>

<p>
    @(Html.Partial("_BackNavigation", model: "Назад к поиску"))
</p>

@(Html.Partial("_VacancyShortView", Model.Result))