@model App.Server.Models.Web.RedocModel
<!DOCTYPE html>
<html>
  <head>
    <title>Vacancy.Api</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
  </head>
  <body>
    <redoc untrustedSpec="true" spec-url="https://@(Model.Host)/api/scheme.json"></redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@($"@{Model.RedocUiVersion}")/bundles/redoc.standalone.js"> </script>
  </body>
</html>